*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

li {
  list-style-type: none; }

::selection {
  background-color: #0938c2;
  color: #fff; }

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

.heading {
  font-size: 3rem;
  color: #0938c2; }

.u-margin-bottom-ultrasmall {
  margin-bottom: 0.7rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-elem-under-header {
  margin-top: 12rem !important; }

.u-font-size-large {
  font-size: 2rem !important; }

.u-font-size-ultralarge {
  font-size: 2.5rem !important; }

.u-font-weight-heavy {
  font-weight: 700 !important; }

.u-text-align-left {
  text-align: left !important; }

.u-text-align-center {
  text-align: center !important; }

.u-text-align-right {
  text-align: right !important; }

.article {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 5rem; }
  .article__col-1-of-2 {
    width: 50%;
    padding: 0 2rem; }
    .article__col-1-of-2--padding-left {
      padding-left: 15rem; }
  .article__col-1-of-1 {
    width: 100%;
    padding: 0 20rem; }
  .article__heading {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #3d3d3d; }
    .article__heading--blue {
      color: #0938c2; }
  .article__paragraph {
    font-size: 1.6rem;
    color: #7c7c7c; }
    .article__paragraph--dark {
      color: #3d3d3d; }
  .article__image {
    height: 20rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }

.btn--blue {
  color: #fff;
  background-color: #0938c2; }
  .btn--blue:hover {
    background-color: #1375ff; }

.map {
  width: 50rem;
  height: 40rem;
  text-align: center;
  border: 1px solid #0938c2; }

.image-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .image-container__logo-box {
    width: 19rem;
    height: 15rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    background-color: #fff; }
  .image-container__logo {
    width: 15rem;
    align-self: center; }
  .image-container__image {
    display: flex; }
    .image-container__image--img1 {
      width: 50rem;
      align-self: center; }
    .image-container__image--img2 {
      width: 20rem;
      align-self: center; }
    .image-container__image--img2 {
      width: 50rem;
      align-self: center; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #fff;
  background-color: #052275;
  padding: 3rem 7rem; }

.header {
  width: 100%;
  height: 12rem;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__logo-box {
    height: 100%;
    padding: 1rem 4rem; }
  .header__logo {
    height: 10rem; }

.nav__list {
  display: flex;
  margin: 0 2rem; }

.nav__item {
  margin: 0 1.6rem;
  position: relative; }

.nav__link:link, .nav__link:visited {
  display: inline-block;
  padding: 1rem .4rem;
  color: #3d3d3d;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: solid 4px transparent;
  transition: all .2s; }
  .nav__link:link:hover, .nav__link:visited:hover {
    border-bottom: solid 4px #0938c2; }

.nav__link--active {
  border-bottom: solid 4px #0938c2 !important; }

.nav__sub-list {
  display: none;
  position: absolute;
  top: 5.1rem;
  left: 0;
  width: 25rem;
  background-color: #fff;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2); }

.nav__item:hover .nav__sub-list {
  display: block; }

.nav__sub-link {
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem;
  color: #3d3d3d;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: solid 4px transparent;
  transition: all .2s; }
  .nav__sub-link:hover {
    background-color: #efefef;
    border-bottom: solid 4px #0938c2; }
  .nav__sub-link--active {
    background-color: #efefef;
    border-bottom: solid 4px #0938c2; }

.main-container {
  padding: 6rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), url("../img/background-home-bw.jpg");
  background-size: cover; }

.section-home {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section-about {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/background-collaboration-bw.jpg");
  background-size: cover;
  background-position: center center; }

.section-clients {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/background-handshake.jpg");
  background-size: cover;
  background-position: center bottom; }

.section-contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/background-contact-bw.jpg");
  background-size: cover;
  background-position: center center; }
