.footer {
  font-size: 1.4rem;
  color: $color-grey-lightest;

  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 7rem;

    @include respond(phone-nar) {
      padding: 2rem 4rem 1rem;
    }

    &--grey {
      justify-content: space-around;
      align-items: center;
      background-color: $color-grey-darkest;

      @include respond(phone) {
        justify-content: space-between;
      }
    }

    &--blue {
      justify-content: center;
      background-color: $color-primary-dark;

      @include respond(phone) {
        display: block;
      }

      @include respond(phone-nar) {
        padding: 1rem 4rem;
      }
    }
  }

  &__paragraph {
    font-size: 1.4rem;
    color: $color-grey-lightest;
    padding-right: 4rem;

    &--copyright {
      padding: 0 2rem;

      @include respond(phone) {
        padding: 0;
      }

      &:not(:last-child) {
        border-right: solid 2px $color-grey-lightest;

        @include respond(phone) {
          border-right: none;
        }
      }
    }
  }

  &__nav {
    &-item {
      padding: 0.4rem 0;
    }

    &-link {
      &:link,
      &:visited {
        display: inline-block;
        color: $color-grey-lightest;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        transition: all 0.2s;

        &:hover {
          color: $color-primary-light;
        }
      }
    }
  }
}
