.nav {
  @include respond(tab-port) {
    display: none;
  }

  @include respond(phone) {
    display: none;
  }

  &__list {
    display: flex;
    margin: 0 2rem;
  }

  &__item {
    margin: 0 1.6rem;
    position: relative;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem .4rem;
      color: $color-grey-dark;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      border-bottom: solid 4px transparent;
      transition: all .2s;

      &:hover {
        border-bottom: solid 4px $color-primary;
      }
    }

    &--active {
      border-bottom: solid 4px $color-primary !important;
    }
  }

  &__sub-list {
    position: absolute;
    top: 5.2rem;
    left: 0;
    width: 25rem;
    background-color: $color-white;
    box-shadow: 0 .6rem 1.2rem rgba($color-black, .2);
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
  }

  &__item:hover &__sub-list {
    visibility: visible;
    opacity: 1;
  }

  &__sub-link {
    &:link,
    &:visited {
      display: inline-block;
      width: 100%;
      padding: 1rem 2rem;
      color: $color-grey-dark;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      border-bottom: solid 4px transparent;
      transition: all .2s;

      &:hover {
        background-color: $color-grey-lightest;
        border-bottom: solid 4px $color-primary;
      }
    }
  }
}

.mobile-nav {
  display: none;

  @include respond(tab-port) {
    display: block;
  }

  @include respond(phone) {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    display: block;
    background-color: $color-white;
    height: 9rem;
    width: 9rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  &__list {
    display: block;
    width: 30rem;
    height: 100vh;
    position: fixed;
    left: -30rem;
    top: 0;
    background-color: $color-metalic;
    transition: all .4s;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $color-grey-dark;

    &--header {
      height: 9.1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: block;
      padding: 2rem 3rem;
      color: $color-grey-lightest;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  &__sub-list {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all .3s ease-in;
  }

  &__sub-list--visible {
    height: 25.3rem;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__sub-item {
    border-top: 1px solid $color-grey-dark;
  }

  &__sub-link {
    &:link,
    &:visited {
      display: block;
      padding: 2rem 3rem;
      color: $color-grey-lightest;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  &__down-caret {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: $color-grey-lightest transparent transparent transparent;
    display: inline-block;
    margin-left: 6px;
    top: -2px;
    position: relative;
    transform: rotate(-90deg);
    transition: all .25s ease-in;
  }
  
  &__open-caret {
    transform: rotate(0deg);
    transition: all .25s ease-out;
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__list {
    left: 0;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 4.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
      background-color: $color-primary;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s;
    }

    &::before { top: -1rem; }
    &::after { top: 1rem; }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}