.nav {
  &__list {
    display: flex;
    margin: 0 2rem;
  }

  &__item {
    margin: 0 1.6rem;
    position: relative;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem .4rem;
      color: $color-grey-dark;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      border-bottom: solid 4px transparent;
      transition: all .2s;

      &:hover {
        border-bottom: solid 4px $color-primary;
      }
    }

    &--active {
      border-bottom: solid 4px $color-primary !important;
    }
  }

  &__sub-list {
    display: none;
    position: absolute;
    top: 5.1rem;
    left: 0;
    width: 25rem;
    background-color: $color-white;
    box-shadow: 0 .6rem 1.2rem rgba($color-black, .2);
  }

  &__item:hover &__sub-list {
    display: block;
  }

  &__sub-link {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    color: $color-grey-dark;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: solid 4px transparent;
    transition: all .2s;

    &:hover {
      background-color: $color-grey-ultralight;
      border-bottom: solid 4px $color-primary;
    }

    // THINK ABOUT IF YOU'LL USE THIS - CURRENTLY IT'S A "NO"
    &--active {
      background-color: $color-grey-ultralight;
      border-bottom: solid 4px $color-primary;
    }
  }
}
