.article {
  max-width: 137rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 7rem 5rem;

  @include respond(tab-port) {
    padding: 4rem 15rem;
  }

  @include respond(phone) {
    padding: 4rem 1rem;
  }

  &--narrow {
    padding: 7rem 15rem;

    @include respond(tab-port) {
      padding: 4rem 10rem;
    }
  
    @include respond(phone) {
      padding: 4rem 1rem;
    }
  }

  &__col-1-of-2 {
    width: 50%;
    padding: 0 7rem;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__col-1-of-1 {
    width: 90%;
    padding: 0 14rem;

    @include respond(tab-port) {
      width: 100%;
      padding: 0 7rem;
    }

    &--wide {
      padding: 0rem 8rem;

      @include respond(tab-port) {
        padding: 0 2rem;
      }
    }
  }

  &__heading {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $color-grey-dark;

    &--blue {
      color: $color-primary;
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    color: $color-grey;

    &--dark {
      color: $color-grey-dark;
    }
  }

  &__image-container {
    max-height: 30rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid $color-primary;
    box-shadow: 1px 5px 10px rgba($color-black, .25);

    @include respond(tab-port) {
      display: none;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__image {
    width: 100%;
    overflow: hidden;
  }
}
