.map {
  height: 0;
  padding-bottom: 80%;
  position: relative;
  border: 1px solid $color-primary;
  overflow: hidden;

  &__iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
