body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.heading {
  font-size: 3rem;
  text-align: center;
  color: $color-primary;

  @include respond(phone-nar) {
    font-size: 2.4rem;
  };
}