.section-home {
  padding-top: 19rem;
  padding-bottom: 10rem;
  background-image:
    linear-gradient(
      rgba($color-white, .96),
      rgba($color-white, .96)
    ), url("../img/background-home-bw.jpg");
  background-size: cover;

  @include respond(tab-port) {
    padding-top: 14rem;
  }
}

.section-about {
  padding-top: 19rem;
  padding-bottom: 10rem;
  background-image:
    linear-gradient(
      rgba($color-white, .9),
      rgba($color-white, .9)
    ), url("../img/background-collaboration-bw.jpg");
  background-size: cover;
  background-position: center center;

  @include respond(tab-port) {
    padding-top: 14rem;
  }
}

.section-services {
  padding-top: 19rem;
  padding-bottom: 10rem;
  background-image:
    linear-gradient(
      rgba($color-white, .9),
      rgba($color-white, .9)
    ), url("../img/background-drawing.jpg");
  background-size: cover;
  background-position: center bottom;

  @include respond(tab-port) {
    padding-top: 14rem;
  }
}

.section-clients {
  padding-top: 19rem;
  padding-bottom: 5rem;
  background-image:
    linear-gradient(
      rgba($color-white, .9),
      rgba($color-white, .9)
    ), url("../img/background-handshake.jpg");
  background-size: cover;
  background-position: center bottom;

  @include respond(tab-port) {
    padding-top: 14rem;
  }
}

.section-contact {
  padding-top: 19rem;
  padding-bottom: 5rem;
  background-image:
    linear-gradient(
      rgba($color-white, .9),
      rgba($color-white, .9)
    ), url("../img/background-contact-bw.jpg");
  background-size: cover;
  background-position: center center;

  @include respond(tab-port) {
    padding-top: 14rem;
  }
}
