.main-container {
  padding: 6rem 0;
  background-image:
    linear-gradient(
      rgba($color-white, .96),
      rgba($color-white, .96)
    ), url("../img/background-home-bw.jpg");
  background-size: cover;
}

.section-home {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-about {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image:
    linear-gradient(
      rgba($color-white, .9),
      rgba($color-white, .9)
    ), url("../img/background-collaboration-bw.jpg");
  background-size: cover;
  background-position: center center;
}

.section-clients {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image:
    linear-gradient(
      rgba($color-white, .9),
      rgba($color-white, .9)
    ), url("../img/background-handshake.jpg");
  background-size: cover;
  background-position: center bottom;
}

.section-contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image:
    linear-gradient(
      rgba($color-white, .9),
      rgba($color-white, .9)
    ), url("../img/background-contact-bw.jpg");
  background-size: cover;
  background-position: center center;
}
